/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* VARIABLES */
:root{
    /* RATING STATE START */
        /* body */
        --body-bg-color: hsl(216, 12%, 8%);
        /* rating-state-start */
        --rating-section-bg-color: hsl(213, 19%, 18%);
        --img-bg-color: hsl(213, 15%, 24%);
        --h1-color: hsl(0, 0%, 100%);
        --p-color: hsl(217, 12%, 63%);
        --rating-li-bg-color: hsl(213, 15%, 24%);
        --rating-li-color: hsl(217, 12%, 63%);
        --submit-bg-color: hsl(25, 97%, 53%);
        --submit-color: hsl(0, 0%, 100%);
    /* RATING STATE END */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 110vh;
    background-color: var(--body-bg-color);
}

/* RATING STATE START */

.rating-state-start{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: var(--rating-section-bg-color);
    font-family: 'Overpass', sans-serif;
    border-radius: 5%;
}

/* IMG */

.rating-state-start img{
    background-color: var(--img-bg-color);
    width: 5%;
    padding: 2vh 4%;
    border-radius: 50%;
    margin: 1.5rem auto 1.5rem 1.5em;
}

/* Rating Text */

.rating-state-start h1{
    font-weight: 700;
    color: var(--h1-color);
    text-align: left;
    width: 85%;
    margin: 0 1rem 1rem 1rem;
}

.rating-state-start p{
    font-weight: 400;
    color: var(--p-color);
    width: 85%;
    font-size: 0.875rem;
    margin: 0 1rem 0 1rem;
}

.rating-state-start .rating{
    width: 90%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rating-state-start .rating li{
    background-color: var(--rating-li-bg-color);
    color: var(--rating-li-color);
    display: block;
    border-radius: 50%;
    padding: 1.7vh 6%;
    margin: 2rem 0;
}

/* SUBMIT */

.rating-state-start .submit{
    font-family: 'Overpass', sans-serif;
    background-color: var(--submit-bg-color);
    color: var(--submit-color);
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 7vh;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 3rem 0;
}

/* RATING STATE END */
