/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* VARIABLES */
:root{
    /* body */
    --body-bg-color: hsl(216, 12%, 8%);

    /* RATING SECTION START */
        /* rating-state-section */
        --rating-section-bg-color: hsl(213, 19%, 18%);

        --rating-img-bg-color: hsl(213, 15%, 24%);

        --rating-h1-color: hsl(0, 0%, 100%);
        --rating-p-color: hsl(217, 12%, 63%);
        --rating-li-bg-color: hsl(216, 12%, 54%);
        --rating-li-hover-bg-color: hsl(25, 97%, 53%);
        --rating-li-color: hsl(0, 0%, 100%);

        --submit-bg-color: hsl(25, 97%, 53%);
        --submit-hover-bg-color: hsl(0, 0%, 100%);
        --submit-color: hsl(0, 0%, 100%);
        --submit-hover-color: hsl(25, 97%, 53%);
    /* RATING SECTION END */

    /* THANK YOU SECTION START */
        --thank-h1-color: hsl(0, 0%, 100%);
        --thank-h2-color: hsl(25, 97%, 53%);
        --thank-h2-bg-color: hsla(216, 12%, 54%, 0.185);
        --thank-p-color: hsl(217, 12%, 63%);
}


*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--body-bg-color);
}


.rating-state-start, .thank-you-state-rating{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50vh;
    background-color: var(--rating-section-bg-color);
    font-family: 'Overpass', sans-serif;
    border-radius: 5%;
}

.hidden{
    display: none;
}

/* RATING SECTION START */

/* IMG */

.rating-state-start img{
    background-color: var(--rating-img-bg-color);
    width: 5%;
    padding: 2vh 4%;
    border-radius: 50%;
    margin: 1.5rem auto 1.5rem 1.5em;
}

/* Rating Text */

.rating-state-start h1{
    font-weight: 700;
    color: var(--rating-h1-color);
    font-size: 1.6rem;
    text-align: left;
    width: 85%;
    margin: 0 1rem 1rem 1rem;
}

.rating-state-start p{
    font-weight: 400;
    color: var(--rating-p-color);
    width: 85%;
    font-size: 0.875rem;
    margin: 0 1rem 0 1rem;
}

.rating-state-start .rating{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rating-state-start .rating fieldset{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: none;
}

.rating-state-start .rating input[type="radio"]{
    display: none;
}

.rating-state-start .rating label{
    background-color: var(--rating-li-bg-color);
    color: var(--rating-li-color);
    display: block;
    border-radius: 50%;
    padding: 1.7vh 5.7%;
    margin: 2rem 0;
    opacity: 0.5;
    transition: 0.5s;
}

.rating-state-start .rating label:hover{
    background-color: var(--rating-li-hover-bg-color);
}

.rating-state-start .rating input:checked + label{
    background-color: var(--rating-li-hover-bg-color) !important;
    opacity: 1 !important;
}

/* SUBMIT */

.rating-state-start .submit{
    font-family: 'Overpass', sans-serif;
    background-color: var(--submit-bg-color);
    color: var(--submit-color);
    border: none;
    border-radius: 25px;
    width: 90%;
    height: 50px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0 0 3rem 0;
    transition: 0.5s;
}
.rating-state-start .submit:hover{
    color: var(--submit-hover-color);
    background-color: var(--submit-hover-bg-color);
}

/* ANIMATION SUBMIT */

@keyframes hiddenRatingSection {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes visibleRatingSection {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* RATING SECTION END */

/* THANK YOU SECTION START */

.thank-you-state-rating img{
    width: 50%;
    margin: 2rem 0;
}

.thank-you-state-rating h2{
    color: var(--thank-h2-color);
    background-color: var(--thank-h2-bg-color);
    font-size: 0.875rem;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    padding: 2% 3%;
    margin-bottom: 2rem;
}

.thank-you-state-rating h1{
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--thank-h1-color);
    margin-bottom: 1rem;
}

.thank-you-state-rating p{
    font-weight: 400;
    color: var(--thank-p-color);
    width: 85%;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 3rem;
}

/* THANK YOU SECTION END */

/* FOOTER */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

footer{
    position: absolute;
    bottom: 0;
}

/* RESPONSIVE */

@media only screen and (min-width: 1440px) {

    /* RATING SECTION START */

    .rating-state-start img{
        width: 4%;
        margin-left: 2rem;
    }

    .rating-state-start h1{
        font-size: 2rem;
    }

    .rating-state-start p{
        font-size: 1.4rem;
    }

    /* RATING SECTION END */

    /* THANK YOU SECTION START */

    .thank-you-state-rating img{
        width: 40%;
    }

    .thank-you-state-rating p{
        font-size: 1.2rem;
    }

    /* THANK YOU SECTION END */
}
